/*@import url("http://fonts.googleapis.com/css?family=inter:400,300,700");*/

body {
  font-family: "Inter", sans-serif;
  color: "#7217df" !important;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("../images/fonts/SuisseIntl-Regular.woff2");
  src: local("SuisseIntl-Regular"),
    url("../images/fonts/SuisseIntl-SemiBold.woff2") format("woff2"),
    url("../images/fonts/SuisseIntl-SemiBold.woff") format("woff"),
    url("../images/fonts/SuisseIntl-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntl";
  src: url("../images/fonts/SuisseIntl-SemiBold.woff2");
  src: local("SuisseIntl-SemiBold"),
    url("../images/fonts/SuisseIntl-SemiBold.woff2") format("woff2"),
    url("../images/fonts/SuisseIntl-SemiBold.woff") format("woff"),
    url("../images/fonts/SuisseIntl-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: underline;
  color: transparent !important;
}
.row {
  /* --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important; */
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: initial !important;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.navbar {
  padding-right: 10rem;
  padding-left: 10rem;
}

.navbar-dark .navbar-toggler {
  color: black;
  border-color: black;
}

.navbar-toggler {
  padding: 0.25rem 2.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent !important;
  border: 0px !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
/*
.navbar-expand-lg .navbar-collapse {
  display: grid !important;
  flex-basis: auto !important;
}*/
@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }

  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}

.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}

.navbar-scrolled {
  background-color: #fff;
}

@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}
@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }

  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #000;
}

.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}

.navbar-scrolled {
  background-color: #fff;
}

@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}

.logo {
  /*max-width: 100%;*/
  width: 30vh;
  height: auto;
}
.logo-footer {
  width: auto;
  height: 4.8vmax;
  /*padding: 1vh;*/
}
.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.headingText2 {
  font-weight: 800 !important;
  text-align: start;
  /*padding-left: 3rem !important;
  padding-right: 3rem !important;*/
}
.headingText3 {
  font-weight: 700 !important;
  text-align: start;
  /*padding-left: 3rem !important;
  padding-right: 3rem !important;*/
}
.headingText {
  font-weight: 900 !important;
  border-bottom: 5px solid #7217df;
  display: inline-block;
  border-radius: 7px;
  border-top-left-radius: 20px;

  line-height: 1;
  /*text-align: center;*/
  /*padding-left: 3rem !important;
  padding-right: 3rem !important;*/
}

svg.bi.bi-paperclip {
  width: 40px;
  height: 40px;
  fill: rgb(114, 23, 223);
}

.contactUsText {
  font-weight: 800 !important;
  color: white;
  display: inline-block;
  font-size: 6rem;
  padding-right: 3rem !important;
  padding-bottom: 3rem;
}
.fixed-bottom {
  /* position: absolute !important; */
  padding: 2vh !important;
  background-color: #7217df !important;
}
.svg-footer {
}

.fixed-bottom-text {
  text-align: justify;
  font-size: large;
  color: white;
}
.fixed-bottom-text-x {
  font-size: medium;
  margin-left: 1vh;
  vertical-align: initial;
  font-weight: 800;
  color: white;
}
.colnew {
  /*margin-left: 6rem;*/
  /*margin-top: 8rem;*/
}

.downHeading {
  color: #7217df !important;
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.btn-primary {
  color: #fff;
  background-color: #7217df !important;
  border-color: #7217df !important;
  padding: 1rem !important;
  padding-left: 1.4rem !important;
  padding-right: 1.4rem !important;
  border-radius: 10px;
  font-size: larger !important;
  font-family: "Inter" !important;
  font-weight: 700 !important;
  width: max-content !important;
  min-width: -webkit-fill-available !important;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn;
  animation-duration: 2s;
}
.btn-contact {
  margin-top: 3rem !important;
  color: #fff;
  background-color: #7217df !important;
  border-color: #7217df !important;
  padding: 1rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-radius: 10px;
  font-size: larger !important;
  font-family: "Inter" !important;
  font-weight: 700 !important;
  min-width: unset !important;
  width: 25vw !important;

  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn;
  animation-duration: 2s;
}

.fadeInAnimation {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn;
  animation-duration: 2s;
}

.text-heading {
  padding-bottom: 3rem !important;
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.6) skew(0deg) translate(0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 0px);
  }
}

.fadeOutAnimation {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeOutfadeOut;
  animation-duration: 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(0px, 0px);
  }
}

.fadeInFromBottomAnimation {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation: fadeInFromBottom;
  animation-duration: 2s;
}
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.6) skew(0deg)
      translate(200px, 500px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 0px);
  }
}

.fadeInFromTopAnimation {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeInFromTop;
  animation-duration: 2s;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.6) skew(0deg)
      translate(200px, -500px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 0px);
  }
}

.bg-light {
  background-color: #fff !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  margin-bottom: 0;
  list-style: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}

.black-block {
  background-color: #000;
  width: 100%;
  height: auto;
}

@-webkit-keyframes left-to-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes right-to-left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes left-to-right {
  from {
    left: -100%;

    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-1000px, 0px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(2000px, 0px);
  }
}
@keyframes right-to-left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.footer-text {
  font-size: xx-large !important;
}
.client-logo1 {
  /*max-height: 10vh;*/
  width: auto;
  /* max-height: 10vh; */
  height: 3vw;
}

.card {
  background: rgba(114, 23, 223, 0.1);
  /*background: linear-gradient(
    90deg,
    rgba(114, 23, 223, 0.1) 100%,
    rgba(114, 23, 223, 0.2) 100%,
    rgba(114, 23, 223, 0.4) 100%
  );*/
  border-radius: 25px !important;
  transition: transform 0.2s; /* Animation */
}
.card:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.service-image {
  position: absolute;
  top: -10vmin;
  /*height: 22vh;*/
  /*align-self: flex-start;*/
  object-fit: contain;
  /*padding: 5rem !important;
  padding-bottom: 1rem !important;*/
  /*margin-left: 2vh;
  margin-right: 2vh;*/

  width: 25vmin !important;
  filter: drop-shadow(19px 25px 25px hsla(264, 100%, 78%, 1));
}

.card-body {
  max-width: 80%;
  align-self: center !important;
  position: absolute;
  bottom: 0;
}
.card-service {
  height: 24vmin !important;
  width: 24vmin !important ;
  -webkit-box-shadow: 15px 20px 35px 24px rgba(114, 23, 223, 0.05);
  box-shadow: 15px 20px 35px 24px rgba(114, 23, 223, 0.05);
  border: 0 !important;
}
.service-heading {
  text-align: center;
  font-weight: 800;
  font-size: 2vmin !important;
}
.col {
  flex: 0 0 0% !important;
}

.col-card {
  margin-left: 4vw;
  margin-right: 4vw;
}

.service-image-card {
  margin-top: 8rem;
}

.contact-us-card {
  padding-top: 5vmax !important;
  /* height: 90vh !important; */
  background-color: #000;
  padding-left: 14rem !important;
  padding-right: 14rem !important;
  justify-content: center !important;
  width: -webkit-fill-available;
  align-content: center !important;
}
.contact-us-text {
  font-size: 1rem;
}

.form-floating > label {
  color: white !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-radius: 0 !important;
}

.form-control {
  color: #fff !important;
  background-color: transparent !important;
  width: 90% !important;
  border: 1px solid #fff;

  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 0 !important;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*.form-process-input:checked {
  color: red !important;
  background-color: red;
  background-size: 0px !important;
}*/
.form-control:focus {
  color: red !important;
  background-color: transparent !important;
  width: 90% !important;
  border: 1px solid;

  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 0 !important;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.border-line {
  z-index: -999;
  width: 0.5px;
  height: 56px;
  /*background-color: black;*/
  position: absolute;
  opacity: 0.25;
  margin-left: 4px !important;
  border-left: 1px solid rgb(0, 0, 0, 0.25) !important;
  border-right: 1px solid rgb(0, 0, 0, 0.25) !important;
}

.form-process {
  /*border-left: 1px solid rgb(0, 0, 0, 0.25) !important;*/
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.inlineText-class {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn;
  animation-duration: 2s;
}
.form-control:focus {
  box-shadow: none !important;

  color: #fff !important;
  background-color: #000;
  border-color: 1px solid #fff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0 !important;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.attach-text {
  font-size: larger;
  color: white;
}
.upto-text {
  font-size: large;
  color: white;
  opacity: 0.5;
}

.privacy-text {
  font-size: small !important;
  opacity: 1;
  color: white !important;
}

.form-process-label {
  color: black;
  font-weight: bold;
  font-size: xx-large;
  vertical-align: middle !important;
  margin-left: 2rem;
}

.form-process-input {
  width: 0.7rem;
  height: 0.7rem;
  margin-top: 0px !important;
  vertical-align: middle !important;
  border-color: #7217df !important;

  /*background-size: 0px !important;*/
  border-radius: 50%;
  border-left: 1px solid rgb(0, 0, 0, 0.25) !important;
  border-right: 1px solid rgb(0, 0, 0, 0.25) !important;
  border-bottom: 1px solid rgb(0, 0, 0, 0.25) !important;
  border-top: 1px solid rgb(0, 0, 0, 0.25) !important;

  z-index: 99 !important;
  background-color: white !important;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: transparent;
  background-repeat: inherit;
  background-position: center;
  background-size: 0px;
  border: 1px solid rgba (0, 0, 0, 0.25);
}
input[type="radio"] {
  -webkit-appearance: none;

  border-radius: 50%;
  outline: none;
}
#inlineRadio1:checked {
  background-color: #7217df !important;
}
#inlineRadio2:checked {
  background-color: #7217df !important;
}
#inlineRadio3:checked {
  background-color: #7217df !important;
}
#inlineRadio4:checked {
  background-color: #7217df !important;
}
#inlineRadio5:checked {
  background-color: #7217df !important;
}
#inlineRadio6:checked {
  background-color: #7217df !important;
}
#inlineText {
  font-size: 2rem;
  font-weight: 500;
}
.form-process-input:checked {
  border-color: #7217df !important;
  background-color: #7217df;
  background-size: 10px !important;
  border-radius: 50%;
}
.form-check-label {
  color: white !important;
}

.form-check-input:checked {
  font-size: smaller !important;

  background-color: #7217df;
  border-color: #7217df;
}
.footer-heading {
  font-size: -webkit-xxx-large !important;
  color: white !important;
  font-weight: 700;
}
.inner-footer {
  width: 100% !important;
}

.footer-section-card {
  background-color: #000 !important;
  padding-left: 14rem;
  width: -webkit-fill-available;

  padding-right: 14rem;
}

.process-section-card {
  padding-left: 14rem;
  padding-right: 14rem;
}

.email-text {
  font-size: xx-large !important;
  display: block !important;
}
.offices-text {
  font-size: medium !important;
  display: block !important;
  opacity: 0.5 !important;
}
.policy-text {
  opacity: 0.5 !important;
  font-size: 13px !important;
}
.policy2-text {
  opacity: 0.5 !important;
  font-size: small !important;
}
.cert {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-right: 2rem;
  /* margin-right: 2rem; */
}
.icon-footer {
  margin-right: 2vh;
  /*margin-top: 2vh;*/
  /* margin-left: 1vh;
  margin-right: 1vh; */
}
.row-inner-footer {
  margin-bottom: 5rem !important;
}
.portfolio-slider {
  width: 35rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  mix-blend-mode: multiply;
}
.portfolio-text {
  font-size: larger;
  font-weight: bold;
  font-size: 2.5rem !important;
  color: #fff !important;
  max-width: fit-content;
  width: 90%;
}
.portfolio-heading {
  font-size: 6rem;
}
.portfolio-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  z-index: -9;
  mix-blend-mode: multiply;
}
.swiper-slide2 {
  /* width: auto !important; */
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%237217df'%2F%3E%3C%2Fsvg%3E") !important;

  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white !important;
  margin-top: -22px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  background-size: 20px 29px;

  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%237217df'%2F%3E%3C%2Fsvg%3E") !important;

  position: absolute;
  top: 50%;
  width: 3rem;
  right: -30px !important;

  height: 3rem;
  background-color: white !important;
  margin-top: -22px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  background-size: 20px 29px;

  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.swipe-buttons {
  flex-direction: row;
  height: 5rem;
  display: flex;
  width: auto;
  flex: 1;
}
.padding-display {
  margin-left: 14rem !important;
  margin-right: 14rem !important;
}
.swiper-slide-first {
  margin-left: 13rem;
}
.swiper-button {
  height: auto;
  margin-top: 4rem;
  margin-left: 13rem;
  width: auto;
  display: inline-flex;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnUpload {
  border: 0px solid gray;
  color: gray;
  text-align: left;
  background-color: transparent;
  /* padding: 8px 20px; */
  border-radius: 8px;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ------------------------------    Responsive CSS    ------------------------------  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (min-width: 300px) and (max-width: 500px) {
  .logo-end {
    display: none !important;
  }
  .cert {
    /* max-width: 100%; */
    width: auto;
    height: 2rem;
    margin-right: 1rem;
    /* margin-right: 2rem; */
    margin-bottom: 2rem;
  }
  .svg-footer {
    width: 10px;
    height: 10px;
    fill: none;
  }
  .contact-us-card {
    padding-top: 5vmax !important;
    /* height: 90vh !important; */
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    justify-content: center !important;
    width: -webkit-fill-available;
  }
  .contactUsText {
    font-size: 2.6rem;
  }

  .footer-text {
    font-size: x-small !important;
  }

  .email-text {
    font-size: x-small !important;
  }

  .form-check-label {
    font-size: x-small !important;
    margin-left: 0rem !important;

    /* width: 0.8rem;
    height: 0.8rem; */
  }
  .card-title {
    margin-bottom: 1rem !important;
  }
  .upto-text {
    font-size: small;
  }
  .attach-text {
    font-size: small;
  }
  .hire-button {
    width: 45vw !important;
  }
  .border-line-start {
    height: 34px !important;
    margin-top: 7px !important;
  }
  .border-line-end {
    height: 10px !important;
    margin-bottom: 0px !important;
  }
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 2rem;
  }
  .portfolio-slider {
    width: 20rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: small !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 22vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }
  .footer-heading {
    font-size: smaller !important;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .hideOnMobile {
    display: none;
  }
  .policy-text {
    font-size: xx-small !important;
  }

  .fixed-bottom-text-x {
    vertical-align: top;

    font-size: x-small;
  }
  .fixed-bottom-text {
    font-size: x-small;
  }

  .inner-footer {
    width: 100% !important;
  }

  .row-inner-footer {
    margin-bottom: 2rem !important;
  }
  .offices-text {
    font-size: 2vw !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
  .btn-contact {
    width: 45vw !important;
  }
  .portfolio-text {
    font-size: 6vw !important;
  }
  .border-line {
    height: 35px !important;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
  }

  .fixed-bottom-text {
    font-size: x-small;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 20vmin !important;
    width: 20vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
    vertical-align: top;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .card-title {
    margin-bottom: 2rem;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }
  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    vertical-align: top;
    font-size: x-large;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem !important;
  }
  .card-title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
}
@media (min-width: 1600px) and (max-width: 1800px) {
  .swiper-button {
    margin-left: 2rem;
  }
  .swiper-slide-first {
    margin-left: 3rem;
  }
  .padding-display {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .portfolio-heading {
    font-size: 3rem;
  }
  .process-section-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .arrow-icon {
    display: none;
  }
  .portfolio-text {
    font-size: 2rem;
  }
  .service-image-card {
    /* margin-bottom: 8rem !important; */
  }
  .headingText2 {
    font-size: 2.5rem;
  }
  .headingText3 {
    font-size: 2rem;
  }

  .card-body {
    max-width: 100%;
    padding: 0rem !important;
  }
  .inlineText-class {
    font-size: larger !important;
  }
  .service-image {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18vmin !important;
  }
  .card-service {
    /* margin: 1rem; */
    height: 25vmin !important;
    width: 25vmin !important;
  }
  .form-process-label {
    font-size: large;

    margin-left: 1rem;
  }

  .footer-section-card {
    background-color: #000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hideOnMobile {
    display: none;
  }

  .fixed-bottom-text-x {
    font-size: x-large;
  }
  .inner-footer {
    width: 100% !important;
  }
  .footer-heading {
    font-size: x-large !important;
  }
  .row-inner-footer {
    margin-bottom: 3rem !important;
  }
  .offices-text {
    font-size: medium !important;
  }
  .icon-footer {
    /*margin-top: 2vh;*/
    /* margin-left: 1vh; */
    margin-right: 1.5vh;
  }
  .cert-row {
    /* max-width: 100%; */
    margin-right: 1rem !important;
  }
  .service-heading {
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem !important;
  }
}
